# Next.js build output
/.next/

# Node.js dependencies
/node_modules/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode settings
.vscode/

# Mac files
.DS_Store
